/* ---big tabs ------ */
@media only screen and (width-size: 1200px) {
  .hero-text-box,
  .main-nav {
    width: 100%;
    padding: 0 2%;
  }
  .mh {
    width: 100%;
    padding: 0 2%;
  }
  .ROW {
    padding: 0 2%;
  }
}

/* ==========for big tabs in portrait mode */
@media only screen and (width-size: 1023px) {
}

/* =============for small - phones / tablets=============== */
@media only screen and (max-width: 767px) {
}

/* -----------MOBILE--------------- */

@media only screen and (max-width: 480px) {
  .hero-text-box,
  .main-nav {
    width: 100%;
    padding: 0 2%;
  }
  .mh {
    width: 100%;
    padding: 0 2%;
  }
}
