* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: white;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  color: #555;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-size: 120%;
  background-attachment: fixed;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 37%;
  left: 5%;
  font-weight: lighter;
  color: white;

  font-size: 95%;
  word-spacing: 10px;
}
.mh {
  text-transform: uppercase;
  margin-bottom: 12px;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 100%;
  font-family: Arial;
  word-spacing: 2px;
  border: 1px solid #d35400;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.coloredbtn:link,
.coloredbtn:visited {
  background-color: #d35400;
  color: white;
  font-size: 90%;
  margin-right: 15px;
}

.ghostbtn:link,
.ghostbtn:visited {
  color: #d35400;
  word-spacing: 4px;
  font-size: 80%;
  font-weight: bolder;
}
.btn:hover,
.btn:active {
  background-color: #a04000;
  border: 1px solid #a04000;
}
.coloredbtn:hover,
.coloredbtn:active {
  background-color: #a04000;
}
.ghostbtn:hover,
.ghostbtn:active {
  color: white;
}

nav ul {
  margin-left: 500px;
  list-style-type: none;
  top: 60px;

  position: absolute;
  left: 170px;
}
nav li {
  float: left;
}

nav a:link,
nav a:visited {
  color: white;
  /* background-color: red; */
  text-decoration: none;
  margin-left: 25px;
  padding: 9px 0px;
  font-family: Arial;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 70%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
nav a:hover,
nav a:active {
  border-bottom: 2px solid #d35400;
  /* transition-delay: 0.2s; */
}

.logo {
  position: absolute;
  height: 100px;
  width: auto;
  float: left;
  top: 30px;
  left: 47px;
}
section {
  padding: 80px 0;
  color: black;
}
.title-description {
  max-width: 940px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 200%;
  text-transform: uppercase;
  padding: 10px;
  /* font-size: 95%; */
  word-spacing: 8px;
}
h2:after {
  max-width: 105px;
  display: block;
  /* position: absolute; */
  background-color: #d35400;
  content: " ";
  height: 2px;
  margin-left: 507px;
  margin-top: 35px;
  margin-bottom: 25px;
}
h3 {
  padding-bottom: 20px;
}
.description {
  margin-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  font-family: lato;
  font-weight: 600;
  word-spacing: 1px;
  line-height: 30px;
  font-size: 100%;
}
/* p {
  font-weight: 500;
  font-size: 90%;
  color: black; */

/* font-family: arial; */
/* } */
.box {
  padding: 0 2%;
  /* font-weight: 800; */
}
.menu-content {
  font-weight: 600;
  font-size: 83%;
  /* line-height: 2px; */
  line-height: 165%;
  word-spacing: 1px;
  /* text-align: justify; */
  /* text-align: center; */
  margin-bottom: 100px;
  /* background-color: red; */
}
.menu-title {
  font-weight: 800;
  font-size: 122%;
  text-transform: uppercase;
  padding-top: 10%;
}

i {
  color: #d35400;
  text-align: center;
  font-size: 350%;
  /* width: 50%%;
  margin-left: 20px; */
  /* left: 500px; */
  /* position: absolute; */
}
.secton-meal {
  padding: 0;
  margin: 0;
}

.meeals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  width: 25%;
  float: right;
  /* margin-bottom: 50px; */
}
.menu-images {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
  /* margin-bottom: 50px; */
}
.menu-images img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;
}

.menu-images img:hover {
  transform: scale(1);
  opacity: 1;
}
.menu-images1,
.menu-images2 {
  /* padding: 0%; */
  /* margin: 0; */
  background-color: black;
  margin-top: 33.9px;
  margin-bottom: -15%;
}
.steps {
  margin-top: 500px;
}
.hiw {
  display: block;
  text-align: center;
  padding-bottom: 7%;
  margin-top: 25%;
  font-size: 250%;
  font-weight: 600;
  word-spacing: 10px;
  text-transform: uppercase;
  /* padding-top: 20px; */
}
.hiw:after {
  max-width: 65px;
  background-color: red;
  display: block;
  height: 2px;
  content: " ";
  margin-left: 526px;
  margin-top: 25px;
  /* padding-top: 50px; */
}
.iphone {
  width: 40%;
  height: auto;
  /* margin-left: 200px; */
  text-align: center;

  margin-left: 50%;
}
/* .step-box {
  max-width: 50px;
} */
.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  background-color: #d35400;
}
.step-box:last-child {
  text-align: left;
  padding-left: 5%;
  margin-right: 50px;
  padding-top: 50px;
  margin-top: 500px;

  /* margin-top: 100%; */
}
/* .num {
  position: absolute;
} */
.work-steps {
  margin-bottom: 50px;
  /* background-color: #555; */
  padding-top: 50px;

  /* margin-top: 500px; */
  text-align: center;
}
.work-steps div {
  /* width: 100px; */
  /* position: absolute; */
  font-weight: 800;
  color: #d35400;
  font-size: 100%;
  padding: 15 20px;
  border: 2px solid #d35400;
  border-radius: 50%;
  /* padding: 0; */
  display: inline-block;
  /* margin-bottom: -2%; */
  margin-bottom: 50px;
  /* margin-top: 20px; */
  float: left;
  margin-right: 50px;
  background-color: #dfdddd;
}
.work-steps:last-of-type {
  margin-bottom: 100px;
}
.work-steps p {
  margin-bottom: 50px;
  font-weight: 700;
  /* margin-top: 25px; */
}
.steps {
  background-color: #dfdddd;
}
.stores {
  display: inline-block;
}

/* .store2 {
  height: -5px;
  width: 20px;
} */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0;
  visibility: hidden;
}
.li1 {
  margin-top: 22.9px;
}
.section-cities {
  width: 100%;
  margin-bottom: 100px;
}
.section-cities h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.box2 {
  text-align: center;
  width: 50%;
  height: auto;
}
.city1img {
  width: 100%;
  margin-bottom: 15px;
}

.section-cities i {
  /* width: 30px; */
  display: inline-block;
  /* text-align: center; */
  font-size: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold;
  text-align: center;
  line-height: 30px;

  /* margin-right: 20px; */

  /* line-height: 30px; */
  /* vertical-align: middle; */
}
.section-cities a:link,
.section-cities a:visited,
.section-cities a:active {
  color: #d35400;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #d35400;
  transition: color 0.5s;
}
.section-cities a:hover {
  color: blue;
  border-bottom: none;
}
.testimonials {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-color: black; */
  /* opacity: 0.95; */
  /* background-color: #d35400; */
}

.ch {
  color: white;
}

blockquote {
  font-family: Lato;
  font-weight: 700;
  color: white;
  font-size: 90%;
  line-height: 27px;
  word-spacing: 5px;
  padding: 2%;
  font-style: italic;
  text-orientation: sideways;
}
cite img {
  /* display: block; */
  margin: 0 20;
  border-radius: 50%;
  height: 15%;
  vertical-align: middle;
}
cite {
  display: block;
  margin-top: 50px;
}
blockquote::before {
  content: "\201C";
  font-size: 350%;
}
.plan ul {
  list-style: none;
  margin: 20px 50px;
}
.plan li {
  margin-bottom: 2px;
  font-weight: 600;
}
.plan h3 {
  margin-bottom: -4px;
  /* font-size: 700%; */
  text-align: left;
  /* font-weight: 700; */
}
.plan p {
  font-size: 180%;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: lighter; */
}
.plan h3,
.plan p {
  /* margin: 20px 50px; */
  text-align: center;

  font-weight: 700;
  color: #d35400;
  padding: 20px 20px;
}
.plan a {
  display: block;
  margin-top: 60px;
  text-align: center;
  display: block;
  /* padding: 0; */
  padding: 5px 25px;
  margin-left: 10px;
  text-decoration: None;
  /* margin-bottom: 20px; */
}
.btn1,
.btn2,
.btn3 {
  /* background-color: orangered; */
  /* display: block; */
  border: 1px solid orange;
  border-radius: 50px;
  /* padding-bottom: 20px; */
  color: #d35400;
  font-weight: 700;

  transition: background-color 0.5s, border 0.5s;
}
.btn1 {
  background-color: orange;
  color: white;
}

.plan a:hover {
  background-color: orange;
  border: 2px solid #d35400;
}
.plan {
  /* margin-bottom: 50px; */
  padding-bottom: 50px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #dfdddd;
}
.plan i {
  margin-left: 45%;
  display: block;
  width: 10px;
  margin-bottom: 1px;

  /* vertical-align: middle; */
  /* margin-bottom: -3px; */
  /* position: absolute; */
}
.plan-detail {
  text-align: center;
  padding-bottom: 20px;
  /* vertical-align: middle; */
}

.plan-box {
  border: 2px solid #d35400;
  border-radius: 50px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: beige;
}
.plan-box2 div {
  background-color: white;
  border-radius: 50px;
  /* width: 200px; */
}
.plan-box {
  width: 95%;

  /* padding-bottom: 10px; */
}
.plan-box2 {
  width: 95%;
}
.plan {
  padding-bottom: 5%;
}
.bc {
  border-bottom: 2px solid #d35400;
  padding-bottom: 7px;
  font-size: 110%;
}
.bc3 {
  margin-top: 20%;
}
.section-forms {
  background-color: rgb(245, 243, 240);
}
form {
  /* font-size: 110%; */
  text-align: center;
  line-height: 50px;
  font-family: "Lato";
  font-weight: 700;
  /* background-color: bisque; */
}
label {
  margin-right: 10%;
  color: #d35400;
  /* font-weight: 800; */
}
.find-us {
  margin-left: -50px;
}
input {
  font-weight: lighter;
  font-style: italic;
  font-size: 90%;
  padding: 10px;
  /* box-shadow: 1px -1px 6px rgba(0, 0, 0, 0.7); */
  /* font-family: "Lato"; */
  /* font-weight: 800; */
  border-radius: 10px;
  border: 1px solid black;
  /* padding-right: 50px; */
  /* width: 50%; */
}
input:hover {
  border: 2px solid orange;
}
select {
  font-size: 93%;
  width: 30%;
  font-style: italic;
  font-weight: lighter;
}

.find-us {
  margin-right: 6%;
}
.found {
  background-color: rgb(253, 253, 253);
}
.found:hover {
  border: 2px solid orange;
}
.name,
.email1 {
  width: 30%;
  box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.3);
}
/* .nl-lable {
  display: inline-block;
  margin-left: -35%;
}*/

.textarea {
  /* margin-left: -20%; */

  /* width: 10%; */

  margin-left: 11%;
  /* width: 50%; */
}
.area {
  font-size: 90%;
  padding: 10px;
  font-family: "Lato";
  font-weight: 800;
  box-shadow: 1px -1px 6px rgba(0, 0, 0, 0.3);
}
.nl {
  margin-right: 20%;
  margin-left: -1%;
}
.nl-lable {
  margin-left: -9%;
  /* position: absolute; */
  /* left: -4%; */
  width: 22%;
  display: inline-block;
  /* position: fixed; */
}
.check-box {
  display: inline-block;
  /* position: absolute; */
  /* margin-right: 20%; */
  text-align: center;
  width: 50px;
}

.drop {
  margin-left: -5%;
  position: absolute;
  right: 55%;
}
.area:hover {
  border: 2px solid orange;
}
.area {
  width: 33%;
  height: 20%;
  font-style: italic;
  margin-left: 5%;
}
.submit {
  margin-top: 3%;
  width: 17%;
  margin-bottom: 5px;
  margin-left: 15%;
  border-radius: 50px;
  padding: 15px 20px;
  color: white;
  background-color: #d35400;
  border: 2px solid #d35400;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
.submit:hover {
  background-color: orange;
  color: #d35400;

  /* border: 3px solid #d35400; */
}
